{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% load user_filters %}

  <section class="new-post">
    <div class="form-card__wrapper">
        <h1 class="form-card__heading">{{ title }}</h1>
        <form class="form-card__form new-post__form" method="POST" enctype="multipart/form-data">
            {% for field in form %}
            {% csrf_token %}
                <div class="form-card__field field">
                  {{ field.errors }}
                    <label for="{{ field.id_for_label }}" class="field__label">{{ field.label }}{% if field.field.required %}<span class="field__required">*</span>{% endif %}</label>
                    {{ field|addclass:"field__input" }}
                    {% if field.help_text %}
                        <div class="field__help-text">{{ field.help_text }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn">{{ title }}</button>
        </form>
    </div>
  </section>
{% endblock %}