<article class="post">
  <h1 class="post__heading">
      <a class="post-link link" href="{% url 'post' post.id %}">{{post.title}}</a>
  </h1>
  <p class="post__text">
    <a class="post__link link" href="{{ post.url }}">{{ post.url }}</a> - {{ post.description }} ({{ post.get_language_display }})
  </p>
  <div class="post__supplementary">
    <!-- Теги -->
    <div class="post__btn-group">
      {% if post.group %}
        {% for group in post.group.all %}
          <a class="post__link link" href="{% url 'group' group.slug %}">#{{ group.title }}</a>
        {% endfor %}
      {% endif %}
    </div>
  </div> 
  <!-- Дата публикации поста -->
  <date class="post__date" date="{{ post.pub_date }}">{{ post.pub_date }}</date>
</article>