{% extends "base.html" %}
{% block title %}Новый пароль{% endblock %}
{% block content %}
{% load user_filters %}
    {% if validlink %}
        <section class="new-pass-block">
            <div class="form-card__wrapper">
                <h1 class="card-header">Введите новый пароль</h1>
                <form method="post" class="form-card__form">
                {% csrf_token %}
                {% for field in form %}
                    {{ field.errors }}
                    <div class="form-card__field">
                        <label for="{{ field.id_for_label }}" class="field__label">{{ field.label }}</label>
                        {{ filed|addclass:"field__input" }}
                    </div>
                {% endfor %}
                    <button type="submit" class="btn form-card__btn">
                        Назначить новый пароль
                    </button>
                </form>
            </div>
        </section>

    {% else %}
        <section class="message-block">
            <div class="message-block__wrapper">
                <h1 class="message-block__heading">Ошибка</div>
                <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
            </div>
        </section>
    {% endif %}

{% endblock %}