{% extends "base.html" %}
{% block title %}Изменение пароля{% endblock %}
{% block content %}
{% load user_filters %}
    <section class="change-pass-block">
        <div class="form-card__wrapper">
            <h1 class="form-card__heading">Изменить пароль</h1>
            <form method="post" class="form-card__form">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-card__field field">
                    {{ field.errors }}
                    <label for="{{ field.id_for_label }}" class="field__label">{{ field.label }}</label>
                    <div class="field__input-wrapper">
                        {{ field|addclass:"field__input" }}
                        {% if field.help_text %}
                            <div class="field__help-text" id="{{ field.id_for_label }}">{{ field.help_text }}</div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
                <button type="submit" class="btn change-pass-block__btn">
                    Изменить пароль
                </button>
            </form>
        </div>
    </section>
{% endblock %}