<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Заголовок страницы{% endblock %} | Yatube</title>
        <!-- Загрузка статики -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'style/style.css' %}">
    </head>
    <body>
        {% include 'nav.html' %}
        <main class="content-block">
            {% block content %}
                <!-- Содержимое страницы -->
            {% endblock content %}
        </main>
        {% include 'footer.html' %}
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>