{% extends "base.html" %}
{% block title %} Записи по тэгу {{group.title}} {% endblock %}
{% block content %}
  <section class="group-block">
    <div class="group-block__wrapper">
        <h1 class="group-block__heading">{{ group.title }}</h1>
        <p class="group-block__slug">@{{ group.slug }}</p>
        <p class="group-block__description">{{ group.description }}</p>
        <ul class="group-block__post-list post-list">
            {% for post in page %}
                <li class="post-list__item">
                    {% include "post_item.html" with post=post %}
                </li>
            {% endfor %}
        </ul>
        {% include "paginator.html" with items=page paginator=paginator %}
    </div>
  </section>
{% endblock %}