{% extends "base.html" %}
{% block title %} Записи по тэгу {{group.title}} {% endblock %}
{% block content %}

<main role="main" class="container">
  <div class="row">
    <div class="col-md-3 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <div class="h2">
            {{ group.title }}
          </div>
          <div class="h3 text-muted">
            @{{ group.slug }}
          </div>
          <div class="h4">
            {{ group.description }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      {% for post in page %}
        {% include "post_item.html" with post=post %} 
      {% endfor %}
    </div>
  </div>
    {% if page.has_other_pages %}
      {% include "paginator.html" with items=page paginator=paginator%}
    {% endif %}
</main>
{% endblock %}