{% extends "base.html" %}
{% block title %} Последние обновления {% endblock %}
{% block content %}
  {% load cache %}
  <section class="posts-block">
    <div class="post-block__wrapper">
      <h1 class="post-block__heading">Последние обновления в библиотеке</h1>
      <ul class="post-block__list post-list">
          {% for post in page %}
              {% cache 20 index_page page request.user.username %}
                  <li class="post-list__item">
                      {% include "post_item.html" with post=post %}
                  </li>
              {% endcache %}
          {% endfor %}
      </ul>
      {% include "paginator.html" with items=page paginator=paginator %}
    </div>
  </section>
{% endblock %}