<header class="header">
  <div class="header__wrapper">
      <a class="header__logo" href="{% url 'index' %}"><span class="header__logo--accent">Ya</span>Library</a>
      <nav class="header__user-menu user-menu header__user-menu--closed">
          <ul class="user-menu__list">
              <li>
                  <a class="user-menu__item" href="{% url 'new_post' %}">Предложить запись</a>
              </li>
          </ul>
      </nav>
      <button type="button" class="burger-menu-btn" aria-label="Кнопка управления пользовательским меню">
        <span class="burger-menu-btn__line"></span>
      </button>
  </div>
</header>
