<ul class="paginator">
    {% if paginator.num_pages > 1 %}
        {% if items.has_previous %}
            <li class="paginator__item"><a class="paginator__link" href="?page={{ items.previous_page_number }}">&laquo; Предыдущая</a></li>
        {% else %}
            <li class="paginator__item paginator__item--disabled"><a class="paginator__link" href="#" abindex="-1" aria-disabled="true">&laquo; Предыдущая</a></li>
        {% endif %}
        {% for i in paginator.page_range %}
            {% if items.number == i %}
                <li class="paginator__item paginator__item--active"><a class="paginator__link">{{ i }}</a></li>
            {% else %}
                <li class="paginator__item"><a class="paginator__link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if items.has_next %}
            <li class="paginator__item"><a class="paginator__link" href="?page={{ items.next_page_number }}">Следующая &raquo;</a></li>
        {% else %}
            <li class="paginator__item paginator__item--disabled"><a class="paginator__link" href="#" tabindex="-1" aria-disabled="true">Следующая &raquo;</a></li>
        {% endif %}
    {% endif %}
</ul>
    