<div class="card mb-3 mt-1 shadow-sm">
    <!-- Отображение текста поста -->
    <div class="card-body">
            <p class="card-text">
                    <!-- Ссылка на автора через @ -->
                    <a name="post_{{ post.id }}" href="{% url 'profile' post.author.username %}">
                            <strong class="d-block text-gray-dark">@{{ post.author }}</strong>
                    </a>
                    {{ post.text|linebreaksbr }}

                <a class="d-block text-gray-dark" href="{{post.url}}">
                        Я ссылка
                </a>
            </p>
                

            <!-- Если пост относится к какому-нибудь сообществу, то отобразим ссылку на него через # -->
            {% if post.group %}
            <a class="card-link muted" href="{% url 'group' post.group.slug %}">
                    <strong class="d-block text-gray-dark">#{{ post.group.title }}</strong>
            </a>
            {% endif %}

            <!-- Отображение ссылки на комментарии -->
            <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group ">
                            

                            <!-- Ссылка на редактирование поста для автора -->
                            {% if user == post.author %}
                            <a class="btn btn-sm text-muted" href="{% url 'post_edit' post.author.username post.id %}"
                                    role="button">
                                    Редактировать
                            </a>
                        
                            {% endif %}
                    </div>
            </div>
    </div>
</div>